@import '../../../../style/vars.less';

.main-header {
  background-color: @primary-color;
}

.header.ant-layout-header {
  padding: 0 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  // height: 72px;
  z-index: 9;
  align-items: center;
  background-color: @primary-color;
  height: unset;
  line-height: unset;
  &.fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: ~'calc(100% - 256px)';
    z-index: 29;
    transition: width 0.2s;

    &.collapsed {
      width: ~'calc(100% - 80px)';
    }
  }

  .nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    .left-conner {
      display: flex;
      width: 100%;
      .logo-nav {
        margin-right: 30px;
        color: @white;
        font-size: 30px;
      }
      @media screen and (max-width: @mobile-screen) {
        padding: 5px 0;
      }
      @media screen and (max-width: @tablet-screen) {
        width: 20%;
      }
    }
    .mid-conner {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      @media screen and (max-width: @mobile-screen) {
        padding: 0;
      }
    }
  }

  :global {
    .ant-menu-submenu-title {
      // height: 72px;
      background: @primary-color!important;
    }

    .ant-menu-horizontal {
      // line-height: 72px;

      & > .ant-menu-submenu:hover {
        // color: @primary-color;
        // background-color: @hover-color;
      }
    }

    .ant-menu {
      border-bottom: none;
      // height: 72px;
    }

    .ant-menu-horizontal > .ant-menu-submenu {
      top: 0;
      margin-top: 0;
    }

    .ant-menu-horizontal > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
      border-bottom: none;
    }

    .ant-menu-horizontal > .ant-menu-item-active,
    .ant-menu-horizontal > .ant-menu-item-open,
    .ant-menu-horizontal > .ant-menu-item-selected,
    .ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-horizontal > .ant-menu-submenu-active,
    .ant-menu-horizontal > .ant-menu-submenu-open,
    .ant-menu-horizontal > .ant-menu-submenu-selected,
    .ant-menu-horizontal > .ant-menu-submenu:hover {
      border-bottom: none;
      color: @theme-color;
    }
    @media (max-width: @mobile-screen) {
      align-items: flex-end;
      padding: 0;
      .nav-bar {
        justify-content: space-between;
        padding: 5px 0;
      }
      .ant-menu-horizontal > .ant-menu-submenu {
        margin: 0;
      }
    }
  }

  .button {
    // width: 72px;
    // height: 72px;
    // line-height: 72px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: @transition-ease-in;

    &:hover {
      color: @primary-color;
      background-color: @hover-color;
    }
  }

  .logo {
    margin: 0;
  }
}

.iconButton {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  .background-hover();

  &:hover {
    .iconFont {
      color: @primary-color;
    }
  }

  & + .iconButton {
    margin-left: 8px;
  }

  .iconFont {
    color: #b2b0c7;
    font-size: 24px;
  }
}

.notification {
  padding: 24px 0;
  width: 320px;
  .notificationItem {
    transition: all 0.3s;
    padding: 12px 24px;
    cursor: pointer;
    &:hover {
      background-color: @hover-color;
    }
  }
  .clearButton {
    text-align: center;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    .background-hover();
  }
}

.notificationPopover {
  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
    .ant-popover-arrow {
      display: none;
    }
    .ant-list-item-content {
      flex: 0;
      margin-left: 16px;
    }
  }
}

.nav-icons {
  display: flex;
  margin: 0;
  padding: 0;
  li {
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    .ant-badge-count {
      background: @orange-color;
      font-size: 11px;
      box-shadow: none;
      padding: 0 5px;
      line-height: 20px;
      min-width: 20px;
      height: 20px;
    }
    &:hover {
      .ant-badge-count {
        opacity: 0.7;
      }
      a {
        color: @secondary-color;
      }
      border-color: @secondary-color;
    }
    a {
      color: @white;
      font-family: @primary-font-bold;
    }
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    .anticon {
      font-size: 20px;
    }
    .cart-total {
      position: absolute;
      top: 8px;
      right: 5px;
    }
    .ant-menu.ant-menu-light {
      background-color: @primary-color;
    }
    .username {
      margin-right: 8px;
      color: @white;
    }
  }
  .right-menu {
    padding: 15px 0;
    .ant-menu-submenu-title {
      padding: 0;
    }
  }
  .active {
    color: @white;
    border-bottom: 2px solid;
  }
  @media (max-width: @mobile-screen) {
    width: 100%;
    justify-content: space-around;
    li {
      padding: 0 5px;
      .cart-total {
        top: -2px;
        right: 2px;
      }
    }
  }
}
.ant-menu.ant-menu-sub {
  li {
    a {
      &:hover {
        color: @black;
      }
    }
    &.ant-menu-item-selected {
      a {
        color: @black!important;
      }
    }
  }
}

.profile-drawer {
  .profile-user {
    display: flex;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 5px;
    }
    .profile-name {
      display: flex;
      width: 100%;
      flex-direction: column;
      text-transform: capitalize;
      span {
        color: @grey-color;
        font-size: 12px;
        text-transform: none;
      }
    }
  }
  a {
    color: @dark-grey;
  }
  .ant-drawer-body {
    padding: 10px 15px;
    .profile-menu-item {
      .menu-item {
        padding: 5px;
        margin-bottom: 2px;
        width: 100%;
        cursor: pointer;
        font-size: 15px;
        &.active, &:hover {
          background-color: @theme-color;
          color: @white;
          border-radius: 5px;
          opacity: 0.9;
        }
      }
      .ant-divider {
        margin: 10px 0;
      }
    }
  }
}

.search-mobile {
  font-size: 30px;
  display: none;
}

.hide-desktop {
  display: none!important;
}

.hide-mobile {
  display: flex;
  align-items: center;
}

@media (max-width: @tablet-screen) {
  .hide-desktop {
    display: block!important;
  }
  .search-mobile {
    display: block;
  }
  .hide-tablet {
    display: none;
  }
}

@media (max-width: @mobile-screen) {
  .hide-mobile {
    display: none!important;
  }
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .header.ant-layout-header {
    padding: 0 10px;
  }
  .ant-btn.info,
  .ant-btn.secondary-custom {
    margin-bottom: 5px;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 10px 5px;
  }
  .ant-col-offset-4 {
    margin-left: 0;
  }
  .switch-grp {
    margin-bottom: 10px;
  }
}
