@import '../../../style/vars.less';

.top-profile {
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vh;

  .tab-stat {
    color: @white;
    display: flex;

    .tab-item {
      padding: 3px 7px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .avatar-upload {
    position: absolute;
    left: 5%;
    bottom: -30px;

    .ant-upload-select.ant-upload-select-picture-card {
      background-image: url('/no-avatar.png');
    }
  }

  @media screen and (max-width: @mobile-screen) {
    height: 18vh;
  }
}

.bg-2nd {
  height: 100%;
  background: linear-gradient(180deg,
      rgba(69, 181, 193, 0.3) 20%,
      rgba(255, 255, 255, 0.1) 80%);
}

.main-profile {
  margin-top: -60px;

  @media screen and (max-width: @mobile-screen) {
    margin-top: -15px;
  }
}

.fl-col {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 50%;

  img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    padding: 2px;
    border: 2px solid @primary-color;
    border-radius: 50%;
  }

  .m-user-name {
    margin-left: 15px;
    font-family: @primary-font-bold;
    text-transform: capitalize;

    h4 {
      font-size: 16px;
      font-weight: 700;

      @media screen and (max-width: @mobile-screen) {
        margin: 0;
      }
    }

    h5 {
      color: @primary-color;
      font-size: 14px;
      font-weight: 600;
    }

    .anticon {
      color: @primary-color;
      font-size: 18px;
    }
  }

  @media screen and (max-width: @mobile-screen) {
    img {
      width: 75px;
      height: 75px;
    }

    width: 100%;
  }
}

.btn-grp {
  display: flex;
  width: 100%;
  margin-top: -60px;
  padding: 0 5px;
  justify-content: flex-end;
  align-items: center;

  button {
    margin: 0 5px;
    border: none;
    color: @white;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(0deg, @primary-color, @theme-color);
    -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
    box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
    padding: 0.7em 2em;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 0.5em;
    cursor: pointer;
    border-radius: 5px;
    // &:hover {
    //   background: @theme-color;
    // }
  }

  .normal {
    background: @light-blue;
    color: @black;

    &:hover {
      border-color: #dae0e5;
      background-color: #f3f7f8;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }

  // .secondary {
  //   background: linear-gradient(to bottom, #FFCF00, #E6BB00);
  // }
  @media screen and (max-width: @mobile-screen) {
    margin-top: 10px;
    display: inline-block;
    width: 100%;

    button {
      float: left;
      width: 100%;
      margin: 2px 5px;
    }

    .normal,
    .secondary {
      width: calc(50% - 10px);
      margin: 2px 5px;
    }
  }
}

.pro-desc {
  margin: 35px 0 0;

  .ant-collapse-item {
    border: none;

    .ant-collapse-header {
      padding: 5px 30px 5px 15px;
    }
  }

  .ant-collapse-borderless {
    background-color: transparent;
  }

  @media screen and (max-width: @mobile-screen) {
    margin-top: 5px;
  }

  &.mar-0 {
    margin-top: 60px;
  }
}

.show-more {
  .ant-collapse-header {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
  }

  .anticon.anticon-arrow-down.ant-collapse-arrow {
    font-size: 18px;
    right: 0 !important;
    color: @primary-color;
    padding-top: 5px;
  }
}

.page-heading.flex-row-space-between {
  @media screen and (max-width: @mobile-screen) {
    margin-bottom: 0;
  }
}

.model-content {
  .ant-tabs {
    .ant-tabs-tab.ant-tabs-tab-active {
      border-right: 1px solid;
      border-left: 1px solid;
      border-bottom: none !important;
    }

    .ant-tabs-nav {
      &:before {
        border-bottom: none;
      }

      .ant-tabs-tab {
        width: 33.33%;
        border-bottom: 1px solid;
        font-size: 25px;
        font-weight: 600;
        color: @gray;
        justify-content: center;
        margin: 0;
        padding: 8px;

        .anticon {
          margin: 0;
        }
      }
    }

    .ant-tabs-ink-bar {
      bottom: unset !important;
      top: 0;
      background-color: @gray;
      height: 1px;
    }

    .ant-tabs-nav-wrap {
      padding: 0 30px;

      &::before {
        opacity: 1;
        box-shadow: none;
        border-bottom: 1px solid @gray;
      }

      &::after {
        opacity: 1;
        box-shadow: none;
        border-bottom: 1px solid @gray;
      }
    }

    .ant-tabs-nav-list {
      width: 100%;
      justify-content: space-around;

    }

    .ant-tabs-content-holder {
      margin-bottom: 73px;

      .ant-tabs-tabpane.ant-tabs-tabpane-active {
        overflow: none;
        max-height: none;
      }
    }
  }


  .ant-col {
    padding: 10px 12px;
  }

  @media screen and (max-width: @mobile-screen) {
    padding: 5px;
  }
}

.show-all {
  padding: 30px;
  margin-top: 20px;
  text-align: center;

  a {
    padding: 10px 25px;
    font-size: 16px;
    color: @white;
    background-image: linear-gradient(0deg,@primary-color,@theme-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-family: @primary-font-bold;

    &:hover {
      background-color: @theme-color;
    }
  }
}

.model-card {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: all 0.3s ease-in-out;

  .hovering {
    position: absolute;
    left: -9999px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(94, 94, 94, 0.5);

    a {
      font-size: 25px;
      padding: 5px 15px;
      border: 1px solid;
      border-radius: 15px;
    }
  }

  &:hover .model-name {
    color: @white;
    background-color: @primary-color;
  }

  .card-img {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    position: relative;

    img {
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: @tablet-screen) {
      height: 160px;
    }
  }

  .card-stat {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: @white;
    font-size: 13px;
    padding: 4em 1em 1em 1em;
    font-weight: 600;
    position: absolute;
    bottom: 51px;
    background-image: linear-gradient(to bottom,
        #04040e00 0%,
        @card-theme-color 100%);
  }

  .model-name {
    color: #323232;
    background-color: @light-card;
    padding: 1em;
    text-align: center;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    font-weight: 600;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: @primary-font-bold;
  }
}

.grid-table {
  .ant-col {
    border: 1px solid @primary-color;
    padding: 5px 15px;
  }
}

.suggestion-bl {
  .sug-top {
    font-size: 18px;
    margin-bottom: 5px;
    color: @theme-color;
    display: flex;
    justify-content: space-between;
    padding: 2px;

    .reload-btn {
      font-size: 22px;
    }

    .free-btn {
      font-size: 22px;
      margin-right: 15px;

      .anticon-tag.active {
        position: relative;

        &::after {
          content: '';
          border-bottom: 2px solid;
          width: 20px;
          height: 0;
          position: absolute;
          left: 2px;
          top: 10px;
          transform: rotate(45deg);
        }
      }
    }
  }

  .ant-carousel {
    .slick-slide {
      height: unset;
      line-height: normal;
    }

    .slick-prev {
      top: -22px;
      right: 50px;
      left: unset;
      padding: 12px;

      &::before {
        background-size: 10px;
        width: 10px;
        height: 10px;
      }
    }

    .slick-next {
      top: -22px;
      right: 15px;
      left: unset;
      padding: 12px;

      &::before {
        background-size: 10px;
        width: 10px;
        height: 10px;
      }
    }

    .slick-dots.slick-dots-bottom {
      bottom: -5px;

      button {
        background: @gray;
      }

      .slick-active {
        button {
          background: @theme-color;
        }
      }
    }
  }
}

.top-banner {
  display: flex;
  color: @white;
  align-items: center;

  .arrow-back {
    font-size: 22px;
    color: @white;
  }

  .t-user-name {
    font-weight: 600;
    text-transform: capitalize;
  }

  .stats-row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px 15px;
  }
}

.subscription-bl {
  padding: 5px 15px;
  border: 1px solid @light-blue;
  border-radius: 5px;
  margin: 5px 0;

  h5 {
    font-weight: 600;
    font-size: 14px;
  }

  button {
    width: 100%;
    background: @theme-color;
    border: none;
    padding: 5px 15px;
    color: @white;
    font-weight: 600;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
  }
}

.live-alert {
  text-align: center;
  background: @highlight-color;
  color: @white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.hr-divider {
  margin: 20px 0px 0px;
  border-bottom: 1px solid @theme-color;
}

.md-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: @theme-color
}

.tip-performer {
  .ant-form-item {
    margin-bottom: 5px;
  }

  .ant-form-item-label {
    padding: 0 5px;

    label {
      font-size: 10px;
      height: 20px;
    }
  }
}