@import './vars.less';

.ant-layout {
  background-color: @white;
}
.ant-layout-content {
  flex: auto;
  min-height: calc(100vh - 160px);
  overflow: auto;
  padding: 0;
}
.ant-layout-footer {
  padding: 7px 20px 7px;
  background-color: @primary-color;
}
.ant-drawer-close {
  z-index: 9999;
}
.ant-drawer-body {
  padding-top: 60px;
  z-index: 9999;
}
.page-container {
  padding: 50px 10px;
}
.main-footer {
  padding: 10px 0;
  position: unset;
  background-image: linear-gradient(
    to bottom,
    @primary-color 0%,
    @theme-color 100%
  );
  ul {
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0 10px;
      a {
        color: @white;
        font-weight: 600;
      }
    }
  }
  .copyright-text {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    // opacity: 0.2;
    margin-top: 1em;
    margin-bottom: 0;
    text-align: center;
    a {
      font-size: 0.9em;
      color: rgb(201, 177, 229);
      font-weight: 500;
    }
    span {
      font-size: 0.9em;
      color: rgb(201, 177, 229);
      font-weight: 500;
    }
  }
  .footer-content {
    color: @white;
    background: unset!important;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 1em;
    p, span {
      background: unset!important;
      color: @white!important;
    }
  }

}
.ant-tabs-tabpane {
  visibility: unset !important;
  height: auto !important;
}
.container {
  padding: 0 !important;
}
.main-container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 5px;
}
.ant-menu {
  background-color: @primary-color;
  color: @white;
}
.ant-menu-submenu-popup > .ant-menu {
  background-color: @primary-color;
  color: @white;
  a {
    color: @white;
  }
}
.loading-screen {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(1, 1, 1, 0.3);
}
.page-heading {
  margin: 20px 0;
  padding-bottom: 0px;
  font-size: 25px;
  font-weight: 600;
  color: @black;
  font-family: @primary-font-bold;
}
.paging {
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}
.flex-row {
  display: flex;
  width: 100%;
  align-items: center;
}
.text-center {
  text-align: center;
}
.ant-col {
  padding: 5px;
}
.table-responsive {
  overflow-x: auto;
}
.main-background {
  background-color: @main-background-color;
  padding: 5px;
  border-radius: 5px;
}
.account-form {
  .ant-form-item {
    margin-bottom: 5px;
    .ant-input {
      height: 36px;
      padding: 5px 10px;
      font-weight: 500;
      font-size: 13px;
      border-radius: 5px;
    }
    textarea.ant-input {
      min-height: 100px;
    }
    .ant-select-selector {
      border-radius: 5px;
      height: 36px;
      font-size: 13px;
      padding: 5px 12px;
    }
    .ant-form-item-label {
      padding: 0 5px;
      label {
        font-size: 10px;
        height: auto;
      }
    }
  }
  .ant-input-number-input-wrap {
    input {
      border-radius: 5px;
      height: 36px;
      font-size: 13px;
      padding: 5px 12px;
    }
  }
  .top-profile {
    margin-bottom: 25px;
  }
}
.ant-tabs.ant-tabs-top.nav-tabs {
  margin: 15px 0;
  margin-top: 0;
  .ant-tabs-tab {
    font-size: 15px;
    padding: 7px 15px;
    font-weight: 600;
    font-family: @primary-font-bold;
  }
}
.ant-upload-select.ant-upload-select-picture-card {
  border-radius: 50%;
  border: 2px solid @light-color;
  background-image: url('/placeholder-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  img {
    margin-bottom: 10px;
    border-radius: 50%;
    margin-bottom: 0;
  }
  .anticon {
    font-size: 18px;
    padding: 8px;
    background-color: @theme-color;
    color: @white;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: -5px;
  }
  .ant-upload-text {
    display: none;
  }
}
.title-form {
  margin-top: 30px;
  font-size: 1.5em;
  font-weight: 800;
}
.ant-btn.primary {
  background-image: linear-gradient(0deg, @theme-color, @primary-color);
  color: @white;
  -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  padding: 0.7em 2em;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0.5em;
  height: 40px;
}
.ant-btn.secondary {
  background: linear-gradient(to bottom, @secondary-color, @sup-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0.7em 2em;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0.5em;
  height: 40px;
  color: @black;
}
.ant-btn.secondary-custom {
  border: none;
  color: @white;
  padding: 0px 8px;
  height: 30px;
  background-color: @secondary-color;
  margin-right: 5px;
}
.ant-btn.info {
  border: none;
  color: @white;
  padding: 0px 8px;
  height: 30px;
  background-color: @processing-color;
  margin-right: 5px;
}
.ant-btn.danger {
  border: none;
  color: @white;
  padding: 0px 8px;
  height: 30px;
  background-color: @highlight-color;
  margin-right: 5px;
}
.ant-picker.ant-picker-range {
  border: none;
  padding: 0;
}
.table-cart table {
  background-color: @table-bg;
  border-radius: 0.5em;
  overflow: hidden;
}
.cart-form input {
  height: 40px;
}
.cover-upload {
  float: right;
  margin-top: 5px;
  .ant-upload-select.ant-upload-select-picture-card {
    border-radius: 0;
    border: 0;
    border-radius: 3px;
    border: 0;
    background: @secondary-color;
    width: auto;
    height: auto;
    padding: 5px 15px;
    .ant-upload {
      color: @white;
    }
  }
}
