@import '../../../style/vars.less';

.gallery-card {
  box-shadow: 0 4px 16px rgba(0,0,0,.05);
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  .gallery-cover {
    img {
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      width: 100%;
      height: 18em;
      object-fit: cover;
      @media screen and (max-width: @tablet-screen) {
        height: 13em;
      }
    }
  }
  &:hover .gallery-name {
    color: @white;
    background-color: @primary-color;
  }
  .gallery-name {
    font-family: @primary-font-bold;
    color: #323232;
    background-color: @light-card;
    padding: 1em;
    text-align: center;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.grid-photos {
  display: inline-block;
  width: 100%;
  .grid-item {
    position: relative;
    width: 10%;
    margin-bottom: 2px;
    float: left;
    padding: 0 1px;
    img {
      width: 100%;
      height: 150px;
      object-fit: contain;
      background: #eee;
    }
    .remove-section {
      position: absolute;
      z-index: 10;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background-color: #ffffff4d;
      color: #000;
    }
  }

}
